@model AptManagement.Data.Models.Apartment

    <tr>
        <td>
            @Html.ActionLink(Model.AptName.ToString() + "-" + Model.AptNumber.ToString(),
                "ApartmentDetails", new { AptID = Model.AptID })
        </td>
        <td>
            @if( string.IsNullOrEmpty(Model.TenantOne))
            {
                <text>Vacant</text>
            }
            else
            {
                @Html.DisplayFor(m => m.TenantOne)
            }
        </td>
        <td>
            @if( string.IsNullOrEmpty(Model.TenantTwo))
            {
                <text>Vacant</text>
            }
            else
            {
                @Html.DisplayFor(m => m.TenantTwo)
            }
        </td>
    </tr>

