@model AptManagement.ViewModels.ApartmentViewModel

@{
    ViewBag.Title = "Apartment Details";
}

<h2>Apartment Details</h2>
<hr />
    <a href="@Url.Action("Index")" class="btn btn-danger">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back to List
    </a>
@Html.DisplayFor(m => m.CurrentApt)
    <a href="@Url.Action("EditApartment", new { AptID = Model.CurrentApt.AptID })" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        Edit Apartment
    </a>
