@model AptManagement.ViewModels.ApartmentViewModel

@{
    ViewBag.Title = "EditApartment";
}

<h2>Editing an apartment</h2>

@using (Html.BeginForm("EditApartment", "Apartment", FormMethod.Post))
{
    <hr />
    @Html.EditorFor(m => m.CurrentApt)
}

    <a href="javascript:history.go(-1)" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span>
        Cancel
    </a>