@using AptManagement.ViewModels;
@using AptManagement.Data.Models;
@using System.Linq;
@model ApartmentViewModel
@{
    ViewBag.Title = "Apartments";
}

<h2>Apartments</h2>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
        @using (Html.BeginForm("SearchApartments", "Apartment", FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-group">
                @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>
    <div class="btn-group pull-right" role="group" aria-label="Second group">
        <a class="btn btn-primary pull-right" href="@Url.Action("AddApartment", "Apartment")">
            <span class="glyphicon glyphicon-plus"></span>
            Add Apartment
        </a>
    </div>
</div>
<hr />
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Apartments</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Apartment Unit</th>
                        <th>Occupant 1</th>
                        <th>Occupant 2</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Apartment apt in Model.Apartments as IEnumerable<Apartment>)
                    {
                        Html.RenderPartial("ApartmentTableRow", apt);
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>